logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
node_modules
jspm_packages
.npm
*.tgz
.idea/
/packages/angular-client/dist
/packages/angular-client/node_modules
/packages/graphql-server/__build__
/packages/graphql-server/node_modules