body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

ul {
  padding-left: 20px;
}

ul li span {
  color: #999;
  margin-right: 10px;
}
